<div class="row">
  <div class="col-lg-3">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
              <span class="label label-primary pull-right">Today</span>
              <h5>Encerradas</h5>
          </div>
          <div class="ibox-content">
              <h1 class="no-margins">22 285,400</h1>
              <div class="stat-percent font-bold text-navy">20% <i class="fa fa-level-up"></i></div>
              <small>New orders</small>
          </div>
      </div>
  </div>
  <div class="col-lg-3">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
              <span class="label label-info pull-right">Monthly</span>
              <h5>Orders</h5>
          </div>
          <div class="ibox-content">
              <h1 class="no-margins">60 420,600</h1>
              <div class="stat-percent font-bold text-info">40% <i class="fa fa-level-up"></i></div>
              <small>New orders</small>
          </div>
      </div>
  </div>

  <div class="col-lg-6">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
              <span class="label label-primary pull-right">Today</span>
              <h5>Rendimentos</h5>
          </div>
          <div class="ibox-content">

              <div class="row">
                  <div class="col-md-4">
                      <h1 class="no-margins"><%= valor_do_rendimento_em_andamento %></h1>
                      <div class="font-bold text-navy"><%= porcentagem_do_rendimento_em_andamento %> <i class="fa fa-level-up"></i> <small>Em andamento</small></div>
                  </div>
                  <div class="col-md-4">
                      <h1 class="no-margins"><%= valor_do_rendimento_encerrado %></h1>
                      <div class="font-bold text-navy"><%= porcentagem_do_rendimento_encerrado %> <i class="fa fa-level-up"></i> <small>Encerradas</small></div>
                  </div>
                  <div class="col-md-4">
                      <h1 class="no-margins"><%= valor_do_rendimento_geral %></h1>
                      <div class="font-bold text-navy"><%= porcentagem_do_rendimento_geral %> <i class="fa fa-level-up"></i> <small>Total</small></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>