<div class="wrapper wrapper-content">

  <div class="row">
      <div class="col-lg-3">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <span class="label label-primary pull-right">Today</span>
                  <h5>Encerradas</h5>
              </div>
              <div class="ibox-content">
                  <h1 class="no-margins">22 285,400</h1>
                  <div class="stat-percent font-bold text-navy">20% <i class="fa fa-level-up"></i></div>
                  <small>New orders</small>
              </div>
          </div>
      </div>
      <div class="col-lg-3">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <span class="label label-info pull-right">Monthly</span>
                  <h5>Orders</h5>
              </div>
              <div class="ibox-content">
                  <h1 class="no-margins">60 420,600</h1>
                  <div class="stat-percent font-bold text-info">40% <i class="fa fa-level-up"></i></div>
                  <small>New orders</small>
              </div>
          </div>
      </div>

      <div class="col-lg-6">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <span class="label label-primary pull-right">Today</span>
                  <h5>Rendimentos</h5>
              </div>
              <div class="ibox-content">

                  <div class="row">
                      <div class="col-md-4">
                          <h1 class="no-margins"><%= valor_do_rendimento_em_andamento %></h1>
                          <div class="font-bold text-navy"><%= porcentagem_do_rendimento_em_andamento %> <i class="fa fa-level-up"></i> <small>Em andamento</small></div>
                      </div>
                      <div class="col-md-4">
                          <h1 class="no-margins"><%= valor_do_rendimento_encerrado %></h1>
                          <div class="font-bold text-navy"><%= porcentagem_do_rendimento_encerrado %> <i class="fa fa-level-up"></i> <small>Encerradas</small></div>
                      </div>
                      <div class="col-md-4">
                          <h1 class="no-margins"><%= valor_do_rendimento_geral %></h1>
                          <div class="font-bold text-navy"><%= porcentagem_do_rendimento_geral %> <i class="fa fa-level-up"></i> <small>Total</small></div>
                      </div>
                  </div>


              </div>
          </div>
      </div>
  </div>

  <div class="row">

  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= t(:carteira) %></h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="#">Config option 1</a>
                </li>
                <li>
                    <a href="#">Config option 2</a>
                </li>
            </ul>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-9 m-b-xs">
              <div data-toggle="buttons" class="btn-group">
                <label class="btn btn-sm btn-white <%= 'active' if params[:situacao].nil? || params[:situacao] == 'em_andamento' %>"> <input type="radio" id="filtro_situacao_em_andamento" name="filtro[situacao]" value="em_andamento"><%= t(:em_andamento) %></label>
                <label class="btn btn-sm btn-white <%= 'active' if params[:situacao] == 'encerrado' %>"> <input type="radio" id="filtro_situacao_encerrado" name="filtro[situacao]" value="encerrado"><%= t(:encerrado) %></label>
                <label class="btn btn-sm btn-white <%= 'active' if params[:situacao] == 'todos' %>"> <input type="radio" id="filtro_situacao_todos" name="filtro[situacao]" value="todos"><%= t(:todos) %></label>
              </div>
            </div>
            <div class="col-sm-3">
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Ativo</th>
                <!-- <th><p class="text-right">Quantidade</p></th>
                
                <th><p class="text-right">Stop</p></th>
                <th><p class="text-right">Alvo</p></th>
                
                
                <th><p class="text-right">Risco</p></th>
                <th><p class="text-right">Retorno</p></th>
                <th><p class="text-right">Entrada</th>
                -->
                <th><p class="text-right">Atual</p></th>
                <th><p class="text-right">Valorização</p></th>
                <th>Status</th>
                <th><p class="text-right">Retorno</p></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <% total = 0.0 %>
              <% @carteiras.each do |carteira| %>
                <tr>
                  <td><%= carteira.empresa.ticker %></td>
                  <!-- <td><p class="text-right"><%= number_with_delimiter(carteira.quantidade, delimiter: ",") %></p></td>
                  
                  <td><p class="text-right"><%= number_to_currency_br carteira.stop %></p></td>
                  <td><p class="text-right"><%= number_to_currency_br carteira.alvo %></p></td>
                  
                  
                  <td><%= numero_para_porcentagem(carteira.risco) %></td>
                  <td><%= numero_para_porcentagem(carteira.retorno) %></td>
                  <td><p class="text-right"><%= number_to_currency_br carteira.entrada %></p></td>
                -->
                  <td><p class="text-right"><%= number_to_currency_br carteira.atual %></p></td>
                  <td><%= numero_para_porcentagem(carteira.valorizacao) %></td>
                  
                    <td>
                      <span class="label <%= 'label-success' if carteira.em_andamento? %>"><%= t(carteira.situacao.to_sym) %></span>
                    </td>
                  <td><p class="text-right"><%= number_to_currency_br carteira.ganho %></p></td>
                  <% total += carteira.ganho %>
                  <td>
                    <%= link_to edit_carteira_path(carteira), { class: 'btn btn-white btn-sm' } do %>
                      <i class="fa fa-pencil"></i> Editar </a>                      
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
              <tfoot>
                <!-- <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th> -->
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th><p class="text-right"><%= number_to_currency_br total %></p></th>
                <th></th>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.btn-sm').on('click', function(){
    window.location.replace('/?situacao=' + $(this).find('input[name="filtro[situacao]"]').val());
  });

  $(document).ready(function(){
    toastr.options = {
      "closeButton": false,
      "debug": false,
      "progressBar": false,
      "preventDuplicates": true,
      "positionClass": "toast-top-center",
      "onclick": null,
      "showDuration": "4000",
      "hideDuration": "1000",
      "timeOut": "7000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }

    toastr.info("cotações", "Atualizado...")
  });
  
</script>